<div class="jumbotron">
  <h1 class="display-4">NOKO-FUKU</h1>
  <hr class="my-4">
  <h4>食品ロス削減を目指すアプリです</h4>
  <h4>廃棄の危機に瀕した食品の売り手と買い手を繋ぎます</h4>
  <div class='bottom_wrapper mt-5'>
    <a class="btn btn-primary btn-lg" href="/sessions/new" role="button">ログイン</a>
    <a class="btn btn-primary btn-lg ml-5" href="/users/new" role="button">新規登録</a>
  </div>
</div>
<style>
  body {
    background-image: url("/assets/top_bgimage.jpeg");
    background-size: cover;
  }
  .jumbotron {
    background-color: rgba(255,235,205,0.7);
  }
  .bottom_wrapper {
    text-align: center;
  }
</style>
