<%= @store.name %>
<% if @store.icon.url %>
  <%= image_tag(@store.icon.url) %>
<% else %>
  <%= image_tag('https://placehold.jp/500x400.png') %>
<% end %>
<% if current_user && current_user != @store %>
  <div id="favorite_field">
    <%= render 'follow_form', store: @store, current_user: @current_user %>
  </div>
<% end %>
