/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

 body {
   background-image: url("/assets/top_bgimage.jpeg");
   background-size: cover;
   font-weight: bolder;
 }

 .field_with_errors > input, .field_with_errors > textarea {
   border: tomato 2px solid;
 }

 #error_explanation > *, .notice {
   color: crimson;
 }

 td, .introduction, .promotions, .comments_area, .my-page, form {
   background-color: rgba(220,220,220,0.7);
 }

 img, form {
   border: 1px solid lightgray;
 }

.btn-container {
  text-align: center;
}

.promotions {
  height: 10rem;
  overflow: scroll;
}

.comments_area {
  height: 7rem;
  width: 80%;
  overflow: scroll;
}

h4, h5 {
  margin: 1rem;
}
